__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyz
__pypackages__/
*.egg-info/
dist/
build/
*.egg
*.whl
.venv/
venv/
env/
.Python
.env
*.local
pip-log.txt
pip-delete-this-directory.txt
.python-version
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.coverage*
coverage/
htmlcov/
instance/
.idea/
.vscode/
.project
.pydevproject
*.swp
*.swo
*.swn
*.swl
.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db
*.bak
*.tmp
*~
*.orig
.directory
*.pid
transcode_progress/
app/transcode_progress/
/data/
app/data/
_data/
*.db
/tmp/
/hls/
